@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

* {
  font-family: "Share Tech", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  color: rgb(62, 228, 62);
  font-size: xx-large;
}
a {
  text-align: center;
  color: rgb(62, 228, 62);
  font-size: xx-large;
  text-decoration: none;

  border: transparent 1px solid;
  background-color: #00000099;
  width: auto;
  border-radius: 10px;
  margin-bottom: 2rem;
  transition-duration: 0.3s;
  padding: 1rem;
}

a:hover {
  background-color: rgba(0, 255, 0, 0.2);
  color: whitesmoke;
  font-size: xx-large;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  margin-left: 10rem;
}
.exe {
  border: transparent 1px solid;
  background-color: #00000099;
  width: 20%;
  border-radius: 10px;
  margin-bottom: 2rem;
  transition-duration: 0.3s;
  margin-left: 30%;
}
.exe:hover {
  background-color: #000000aa;
}

body {
  background-image: url("../img/alexander-grey-8lnbXtxFGZw-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.member {
  width: 35%;
  height: auto;
  background-color: #00000099;
  padding: 1em;
  font-weight: 700;
  color: var(--clr-light);
  text-align: center;
  border: transparent 1px solid;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.member:hover {
  background-color: #000000aa;
}
.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  gap: 1em;
  align-items: center;
}

dd {
  padding-right: 8px;
  padding-left: 0;
  margin: 1rem 1rem 2rem 1rem;
  color: gold;
}

h2 {
  border-bottom: 1px double wheat;
  font-size: xx-large;
  color: rgb(62, 228, 62);
}

dl {
  font-size: x-large;
}
dt {
  color: #fff;
}

/* FORMULARIO */

.container-form {
  display: flex;
  justify-content: space-around;
}
.card-form {
  width: 35%;
  height: auto;
  background-color: #00000099;
  padding: 1em;
  font-weight: 700;
  color: var(--clr-light);
  text-align: center;
  border: transparent 1px solid;
  border-radius: 10px;
  transition-duration: 0.3s;
}
#img {
  display: none;
}

form {
  margin: 2rem;
  padding-top: 0.25rem;
}

input {
  box-sizing: border-box;
  border-radius: 1.5rem;
  border: 1px solid black;
  display: block;
  font-family: sans-serif;
  margin: 1rem 6rem;
  padding: 0.25rem;
  width: 15rem;
  resize: none;
}
label {
  color: whitesmoke;
  font-size: x-large;
}

input {
  height: 1.5rem;
}

form button {
  background-color: rgba(0, 255, 0, 1);
  border: none;
  border-radius: 1.5rem;
  color: black;
  padding: 0.2rem;
  width: 15rem;
  font-size: large;
}

button {
  background-color: whitesmoke;
  border: none;
  border-radius: 1.5rem;
  color: black;
  padding: 0.2rem;
  width: 15rem;
  font-size: large;
}
